body,
html {
  cursor: auto;
  height: 100%;
  margin: 0 !important;
  scroll-behavior: smooth;

  // @include breakpoint($d_medium) {
  //   cursor: none;
  // }
}

.pageTitle {
  font-size: 30px;
  @include breakpoint($d_medium) {
    font-size: 40px;
  }
}

.activeM {
  color: #000;
  padding: 15px;
  margin: 0 auto;
  max-width: 550px;
  text-align: left;
}

/*Arrow down styles*/
$base: 0.6rem;

.scrollHolder {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.chevron {
  position: absolute;
  opacity: 0;
  bottom: 100px;
  width: $base * 3.5;
  height: $base * 0.8;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;

  &:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
  }

  &:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
  }
}

.chevron:after,
.chevron:before {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  content: '';
  background: #FFF;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 51.5%;
  transform: skewY(-30deg);
}
@keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }

  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }

  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}
/*End of Arrow down styles*/

//Loading Screen
.loader {
  position: relative;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
  border: 4px solid #f3f3f3; /* Outline color */
  border-top: 4px solid #3498db; /* Spinner color */
  border-radius: 50%;
}

.loaderOutline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #f3f3f3; /* Outline color */
}

.loaderImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 8px); /* Take up the inner circle with a small padding */
  height: calc(100% - 8px);
  border-radius: 50%;
  object-fit: cover;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}